<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535667993262-iqe8kam2jkbpaq0vl0ee7484jev8p7i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535667993262-iqe8kam2jkbpaq0vl0ee7484jev8p7i0</string>
	<key>API_KEY</key>
	<string>AIzaSyCpag_iv9gyClqYQ1OOp4fXn-uQvM8Qs7w</string>
	<key>GCM_SENDER_ID</key>
	<string>535667993262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornellappdev.uplift.ios</string>
	<key>PROJECT_ID</key>
	<string>uplift-8f29c</string>
	<key>STORAGE_BUCKET</key>
	<string>uplift-8f29c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535667993262:ios:541b9eab6df827a3</string>
	<key>DATABASE_URL</key>
	<string>https://uplift-8f29c.firebaseio.com</string>
</dict>
</plist>