<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANNOUNCEMENTS_COMMON_PATH</key>
	<string>$(ANNOUNCEMENTS_COMMON_PATH)</string>
	<key>ANNOUNCEMENTS_HOST</key>
	<string>$(ANNOUNCEMENTS_HOST)</string>
	<key>ANNOUNCEMENTS_PATH</key>
	<string>$(ANNOUNCEMENTS_PATH)</string>
	<key>ANNOUNCEMENTS_SCHEME</key>
	<string>$(ANNOUNCEMENTS_SCHEME)</string>
	<key>CFBundleGetInfoString</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cornellappdev.uplift.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.535667993262-iqe8kam2jkbpaq0vl0ee7484jev8p7i0</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UPLIFT_DEV_URL</key>
	<string>$(UPLIFT_DEV_URL)</string>
	<key>UPLIFT_PROD_URL</key>
	<string>$(UPLIFT_PROD_URL)</string>
</dict>
</plist>
